<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melbsoft.teacherplatform.dao.admin.PermissionMapper">


    <select id="countPermissions" resultType="Integer">
        SELECT
        count(*)
        FROM
        sys_permission p,sys_rp rp
        WHERE
        rp.role_id=#{roleId} AND
        rp.permission_id=p.permission_id AND
        p.resource_id in
        <foreach item="item" index="index" collection="resources"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        AND
        P.privilege=#{permission}
    </select>

    <resultMap id="SysPermissionMap" type="SysPermission">
        <id property="permissionId" column="permission_id"/>
        <result property="permissionDisplay" column="permission_display"/>
        <result property="resourceTypeDisplay" column="resource_type_display"/>
        <result property="resourceNameDisplay" column="resource_name_display"/>
        <result property="privilege" column="privilege"/>
        <collection property="roles" ofType="SysRole">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
            <result property="roleDisplay" column="role_display"/>
        </collection>
    </resultMap>

    <select id="search" resultMap="SysPermissionMap">
        SELECT
        p.permission_id,
        p.permission_display,
        r.resource_type_display,
        r.resource_name_display,
        p.privilege,
        ro.role_id,
        ro.role_name,
        ro.role_display
        FROM
        sys_permission p,
        sys_resource r,
        sys_role ro,
        sys_rp rp
        <where>
            p.resource_id=r.resource_id AND
            p.permission_id=rp.permission_id AND
            rp.role_id=ro.role_id
            <if test="null!=q.permissionDisplay">
                AND permission_display like #{q.permissionDisplay}"%"
            </if>

        </where>
        order by p.create_time DESC
    </select>


    <select id="listPermission" resultType="long">
        SELECT
        r.resource_id as resourceId
        FROM
        sys_resource r
        INNER JOIN sys_permission p ON p.resource_id = r.resource_id
        INNER JOIN sys_rp rp ON p.permission_id = rp.permission_id
        <where>
            <if test="null!=roles">
                AND rp.role_id in
                <foreach item="item" index="index" collection="roles"
                         open="(" separator="," close=")">
                    #{item.roleId}
                </foreach>
            </if>
            <if test="null!=q.resourceType">
                AND r.resource_type = #{q.resourceType}
            </if>
            <if test="null!=q.privilege">
                AND p.privilege = #{q.privilege}
            </if>
        </where>
        order by r.parent_id,r.sequence_num
    </select>


</mapper>
