<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melbsoft.teacherplatform.dao.admin.ResourceMapper">


    <select id="findResourceID" resultType="Integer">
        SELECT
            resource_id
        FROM
            sys_resource r
        WHERE
            r.resource_name=#{resourceName} AND
            r.resource_type=#{resourceType}
    </select>
    <select id="findParentId" resultType="Integer">
        SELECT
            parent_id
        FROM
            sys_resource r
        WHERE
            r.resource_id=#{resourceID} AND
            r.parent_id !=0
    </select>
</mapper>
